player-connection-mode=Listen
player-connection-guid=1068923973
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.150.30
player-connection-ip=192.168.17.1
player-connection-ip=192.168.18.1
player-connection-ip=192.168.150.31
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
